<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
        integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/about.css">

</head>

<body>
    <!-- partial:index.partial.html -->
    <div class="page-wrapper">
        <div class="nav-wrapper">
            <div class="grad-bar"></div>
            <nav class="navbar">
                <a href="/"><img style="margin-top: 5px;" src="/images/02.jpg" alt="Company Logo"></a>
                <div class="menu-toggle" id="mobile-menu">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
                <ul class="nav no-search" style="left: 0px; text-align: center;">
                    <!-- <li class="nav-item"><a href="#">Home</a></li> -->
                    <li class="nav-item"><a href="#">About</a></li>
                    <li class="nav-item"><a href="/manager/event">Add Event</a></li>
                    <li class="nav-item"><a href="/manager/profile">Profile</a></li>
                    <li class="nav-item"><a href="/manager/logout">Logout</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <main class="about">
        <div class="container">
            <section class="grid info">
                <div class="column-xs-12 column-md-6 ">
                    <img src="../svg/undraw_outdoor_party_oqh3.svg">
                </div>
                <div class="column-xs-12 column-md-6">
                    <div class="intro" style="margin-top: 2em;">
                        <h2>EVENT MANAGER</h2>
                        <p>Who knows the pain of writing thousands of emails to hundreds of brands better than an event
                            manager looking for sponsorships? All of this may be demotivating- not getting the
                            recognition that your one-of-a-kind event deserves. Wouldn’t it be great if you could
                            directly connect with the companies that would be seriously interested in sponsoring?</p>
                        <p>All you have to do is sign up as an event manager and create your profile. Everytime you’re
                            looking for sponsors, tell us about the event- its scale, target audience, etc. We’ll tell
                            the companies registered with us that you are actively looking for sponsorship for an event
                            and let you know if they are interested. You can also directly connect with the companies
                            that you think might be interested, based on the past events they have sponsored. Connect
                            with the best sponsors and organise <b> Better Events, Together!</b></p>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <!-- partial -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="/js/navbar.js"></script>

</body>

</html>