<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn</title>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet">
</head>

<body class="body-sign">
    <%- include('partials/flash')%>
        <div class="container4 container sign" id="container">
            <div class="form-container sign-in-container">
                <form action="/manager/login" class="validated-form" method="POST" style="background-color: rgb(241, 230, 216);" novalidate >
                    <a href="/" style="padding: 0;margin:10px;position:absolute;z-index:2;left:0px;top:0px"><img src="/images/back.png" style="height:50px;width:auto;background-color:transparent;padding: 0;margin: 0;color: seashell;" > </a>
                    <h1 style="margin-bottom: 0.8em;font-family: 'Rubik', sans-serif;">Sign In</h1>
                    <div style="width: 100%;"><input type="text" class="form-control" placeholder="Username"
                            name="username" required />
                        <div class="invalid-feedback">
                            Required
                        </div>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div style="width: 100%;"><input type="password" class="form-control" placeholder="Password"
                            name="password" required />
                        <div class="invalid-feedback">
                            Required
                        </div>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <button>Sign In</button>
                </form>
            </div>
            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-left">
                        <h1 style="font-family: 'Rubik', sans-serif;">HELLO MANAGER!</h1>
                        <p style="font-size: large;">Register to start your journey of organising great events with us.</p>
                        <p style="font-size: large;" > Already have an account?</p>
                        <button class="ghost" id="signIn">Sign In</button>
                    </div>
                    <div class="overlay-panel overlay-right">
                        <h1 style="font-family: 'Rubik', sans-serif;">WELCOME BACK!</h1>
                        <p style="font-size: large;"> Great events are waiting for you! </p>
                        <p style="font-size: large;"> New here and don't know where to start?</p>
                        <button class="ghost" id="signUp">Sign Up</button>
                    </div>
                </div>
            </div>
            <div class="form-container sign-up-container">
                <form action="/manager/register" class="validated-form" method="POST" style="background-color: rgb(241, 230, 216);" novalidate>
                    <a href="/" style="padding: 0;margin:10px;position:absolute;z-index:2;left:0px;top:0px"><img src="/images/back.png" style="height:50px;width:auto;background-color:transparent;padding: 0;margin: 0;color: seashell;" > </a>
                    <h1 style="margin-bottom: 0.8em;font-family: 'Rubik', sans-serif;">Sign Up</h1>
                    <div style="width: 100%;">
                        <input type="text" class="form-control" placeholder="Name" name="username" required />
                        <div class="invalid-feedback">
                            Required
                        </div>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div style="width: 100%;"><input type="email" class="form-control" placeholder="Email" name="email"
                            required />
                        <div class="invalid-feedback">
                            Invalid Email
                        </div>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div style="width: 100%;"><input type="password" class="form-control" placeholder="Password"
                            name="password" required />
                        <div class="invalid-feedback">
                            Required
                        </div>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <button>Sign Up</button>
                </form>
            </div>

        </div>
        <script src="/js/app2.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
</body>

</html>
